<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"></a><h2><img src="./assets/home.jpg"> &nbsp;&nbsp;  > votre panier </h2>
      </div>
    </div>
</nav>
<div class="container"> 
    <h1> formulaire :</h1>
    <label> *nom :</label><br>
    <input  type="text"><br>
    <label> *prenom :</label> <br>
    <input type="text" ><br>
    <label>*région :</label><br>
    <select>
        <option value="0">choisir une région</option>
        <option value="1">monastir</option>
        <option value="2">sousse</option>
        <option value="3">tunis</option>
        <option value="4">mahdia</option>
        <option value="5">kairouan</option>
        <option value="6">sidi bouzid</option>
        <option value="7">gafsa</option>
        <option value="8">mednine</option>
        <option value="9">jandouba</option>
        <option value="10">benzart</option>
        <option value="11">nabel</option>
        <option value="12">gassrine</option>
        <option value="13">kef</option>
        <option value="14">seliana</option>
        <option value="15">jerba</option>
    </select><br>
    <label> *telephone :</label> <br>
    <input type="tel" ><br>
    <label>*paiement par :</label><br>
    <select>
        <option value="0">effectuer un choix</option>
        <option value="1">carte bancaire</option>
        <option value="2">carte edinar</option>
    </select>
      <br><br>
    <button (click)="passer()" class="btn btn-outline-secondary" >passer la commande</button><br>
  </div>
  <br>
<footer class="footer">
    <div class="contenu">
        <a  [routerLink]="['']" > retour au acceuil</a>
    </div>
</footer>