
<div class="container">
    <fieldset>
        <h1> CONTACTEZ NOUS <br>
            Envoyez votre message
        </h1>
        <br> <input placeholder= "Nom & Prenom*" type="text" > <br>
        <br> <input placeholder= "E-mail*" type="email"> <br>
        <br> <input placeholder= "Sujet" type="text" > <br>
        <br> <input placeholder= "Message" > <br><br>
        <button (click)="envoyer()" class="btn btn-outline-secondary"> envoyer</button>
    </fieldset> <br>
</div>
<br><br><br><br>
<footer class="footer">
    <div class="contenu">
        <a  [routerLink]="['']" > retour au d'acceuil</a>
    </div>
</footer>
