<div>
    <nav>
        <a class="navbar-brand" href=""><h2 size="10px"><img src="./assets/img.png" class="d-inline-block align-top" alt="" width="30" height="30" > Techno Sport</h2></a>
        <a [routerLink]="['/home']" routerLinkActive="router-link-active"><h2> acceuil </h2></a> &nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;
        <a href="panier" ><img  src="./assets/panier.png" ></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#" ><img  src="./assets/fb.png" ></a>
        <a href="#" ><img  src="./assets/insta.png"></a>
        <a href="#" ><img  src="./assets/tel.png"></a>
        <a href="#" ><img  src="./assets/email.png"></a>
        
        <a [routerLink]="['/contact']" routerLinkActive="router-link-active"> <h2>contact</h2></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a [routerLink]="['/connexion']" routerLinkActive="router-link-active" ><h2> <img  src="./assets/login.png" href="/connexion"> connexion </h2></a>
    </nav>
</div>

